/* Set default font */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Make all the links bold */
a {
    font-weight: bold;
}

/* Style for all h1 elements */
h1 {
    font-size: 2.5em; /* Adjust this value as needed */
}

/* Header styles */
header h1 {
    color: steelblue;
    font-style: italic;
    font-size: 3em;
}

header h2 {
    font-size: 1.5em;
}

/* Float the logo image and add spacing */
header img {
    float: left;
    margin-right: 20px;
}

/* section link styling */
section a:link,
section a:visited {
    color: maroon;
    text-decoration: none;
}

section a:hover,
section a:focus {
    color: steelblue;
}

/* Aside header color */
aside h3 {
    color: maroon;
}

/* Aside list styling */
aside ul {
    line-height: 1.5;
}

/* Aside link styling */
aside a:link,
aside a:visited {
    color: steelblue;
    text-decoration: none;
}

aside a:hover,
aside a:focus {
    color: maroon;
}

/* Footer styling */
footer {
    text-align: center;
    font-size: 0.8em;
}